extends ../layout

block content
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p Title: #{book.title}
        p Publisher: #{book.publisher}
        p Author: #{book.author}
        p Genre: #{book.genre}
        p Page Count: #{book.pages}
        p Cover Page: #{book.cover}
        p Description: #{book.description}